{{>header}}
<div class="mainPage">
  <h1>To whine or not to whine....</h1>
  <img class="image" src="https://i.pinimg.com/736x/f8/87/b8/f887b8ad6eb8b3204732dfd15aa61e36--wine-humor-quotes-funny-kitchen-quotes.jpg" width="500px" height="500px"/>
</div>
{{>footer}}
