{{>header}}
  <form class="form">
    <h1>Enter user info to continue</h1>
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input class="input login" type="text" name="username" placeholder="e.g. thorpusmaximus">
      </div>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input class="input login" name="passwordverify" type="password" placeholder="blah blah blah">
      </div>
    </div>
    <button class="button is-success">
       Sign-in
    </button>
  </form>
{{>footer}}
