{{>header}}
  <div class="mainPage">
    <h1>This is {{username}}'s profile</h1>
    <img class="image" src="https://pbs.twimg.com/media/CsTGPaoUkAAxZjt.jpg"/>
    <h2>Email: {{email}}</h2>
  </div>
{{>footer}}
