<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heads Up</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css" type="text/css">
    <link href="styles.css" type="text/css" rel="stylesheet"/>
  </head>
  <nav class="nav">
    <div class="navItem"><a href="https://pacific-mesa-47141.herokuapp.com/">Home</a></div>
    <div class="navItem"><a href="https://pacific-mesa-47141.herokuapp.com/login">Login</a></div>
    <div class="navItem"><a href="https://pacific-mesa-47141.herokuapp.com/profile">Profile</a></div>
    <div class="navItem"><a href="https://pacific-mesa-47141.herokuapp.com/logout">Logout</a></div>
    <div class="navItemBlank"></div>
    <div class="navItem"><a href="https://pacific-mesa-47141.herokuapp.com/register">Register</a></div>
  </nav>
  <body>
